[color]
ui = true

[color "status"]
changed = cyan bold
untracked = yellow bold
added = green bold
branch = cyan bold
unmerged = red bold

[color "diff"]
frag = cyan
new = green bold
commit = yellow
old = red white

[color "branch"]
current = yellow reverse
local = yellow
remote = green bold
remote = red bold

[mergetool]
keepBackup = false

[diff]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
